<section class="filter-section" ng-init="c.init()">
  <div class="box">
    


    <div class="filter-field">
      <label>${Filter by}</label>
      <sn-choice-list sn-model="c.selectorGroup" 
                      sn-options="c.selectOptions" 
                      sn-value-field="value"  
                      sn-text-field="label"  
                      sn-items="c.data.filter_group" 
                      sn-on-change="c.selectFilterGroup()">
      </sn-choice-list>
      <br>
      <sn-choice-list sn-model="c.selectorState" 
                      sn-options="c.selectOptions" 
                      sn-value-field="value"  
                      sn-text-field="label"  
                      sn-items="c.data.search_selector" 
                      sn-on-change="c.selectFilter()">
      </sn-choice-list>
    </div>

    <div class="requests">
      <div class="title">
        <label>${Requests}</label>
      </div>
      <div class="request-list">
        <div class="request-item" 
             ng-repeat="item in c.data.list" 
             ng-class="{'active': c.selected == item.sys_id}"
             ng-click="c.selected = item.sys_id; c.setRecord(item)">
          <div class="display_value" ng-repeat="field in item.fields">
            <div ng-switch="field.type">
              <div ng-switch-when="glide_date_time">
                {{field.display_value.slice(0, 10) | date: 'dd/MM/yyyy'}}
              </div>
              <div ng-switch-default>
                {{field.display_value}}
              </div>
            </div>
          </div>
        </div>
        <div class="no-results" ng-if="c.data.list.length == 0">
					${No have requests}
        </div>
      </div>
    </div>



  </div>
</section>