.filter-section{
  .box{
    box-shadow: 2px -2px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    .filter-field{
      padding: 16px 12px 0;
      label{
        font-weight: 500;
        color: #000000;
        font-size: 14px;
      }
      .select2-container{
        .select2-arrow{
          background-color: $btn-primary-bg;
          color: $btn-primary-color;
          &:before{
            font-family: "FontAwesome"; 
            font-weight: 600; 
            content: "\f078";
            display: flex;
            justify-content: center;
          }
        }
      }
      .select2-dropdown-open{
        .select2-arrow{
          &:before{
            content: "\f077";
          }
        }
      }
    }
    .requests{
      .title{
        margin-top: 16px;
        margin-bottom: 10px;
        padding: 0 12px 0;
      }
      .request-list{
        .request-item{
          display: grid;
          padding: 8px 12px;
          grid-template-columns: 2fr 1fr;
          .display_value{
            color: #000000;
            &:last-child{
              color: #8B8B8B;
            }
          }
          &:last-child{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
          &:hover{
            background-color: $action-primary-bg;
            .display_value{
              color: $action-primary-color;
              &:last-child{
                color: $action-primary-color;
                opacity: 0.7;
              }
            }
          }
        }
        .active{
          background-color: $action-primary-bg;
          .display_value{
            color: $action-primary-color;
            &:last-child{
              color: $action-primary-color;
              opacity: 0.7;
            }
          }
        }
        .no-results{
          padding: 0 0 16px 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .request-list{
    max-height: 400px;
    overflow: auto;
  }
}

