.title{
  font-size: 16px;
  h5{
    margin: 0;
  }
}	

.container-icon{
  width: 18.8rem;
  height: 6.3rem;

  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);

  background: $panel-bg-color;
  border-radius: 1rem;

  margin: 0 auto;
  margin-top: 16px;
  padding: 12px;
  .indicator{
    display: flex;
    align-items: center;
    .label-indicator{
      width: 100%;
      font-size: 1.6rem;
    }
    .number-indicator{
      margin-right: 1rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: bold;
    }
  }
}
