<section ng-if="data.canRead">
  
  <div class="field-list" ng-if="c.data.fields.length > 0">
    <div class="field-item" ng-repeat="field in c.data.fields">
      <label>{{field.label}}</label>
      <p>{{field.display_value}}</p>
    </div>
  </div>
 
  <div ng-if="c.data.variables.length > 0" class="variable-section" ng-repeat="var_set in c.data.variables_sets">
    
    <h4 class="title">
      {{var_set.name}}
    </h4>
    
    <div class="variable-summarizer">
      <div class="variable" ng-repeat="variable in var_set.fields" ng-if="variable.visible">
        <div class="group">
          <label>{{variable.label}}</label><br>
          <span ng-bind-html="variable.displayValue" />
        </div>
      </div>
    </div>
  </div>

</section>


