section{
  .field-list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;

    .field-item{
      padding: 0 16px;
      label{
        font-weight: 600;
      }
    }
  }

  .variable-section{
    border: 1px solid #E2E2E2;
    margin-bottom: 16px;
    border-radius: 12px;
    padding: 12px 16px;

    .title{
      padding: 8px 16px 16px;
      margin: 0;
      color: $brand-primary;
    }

    .variable-summarizer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 16px;
      row-gap: 16px;
      .variable{
        .group{
          padding: 8px 16px;
          //border: 1px solid #E2E2E2;
          border-radius: 12px;
          label{
            font-weight: 600;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 767px){
  section{
    .variable-section{
      .variable-summarizer{
        grid-template-columns: 1fr;
      }
    }
  }
}