.title {
    font-size: 16px;
    h5 {
        margin: 0;
    }
}

.container-icon {
    width: 308px;
    height: 135px;
    
    margin: 0 auto;
    margin-top: 16px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $brand-primary;
    border-radius: 8px;

    position: absolute;

    box-shadow: 3px 3px 5px;

    .indicator {
      padding-left: 3rem;
        .label-indicator {
            width: 100%;
            float: left;
            text-align: center;
        }
        .number-indicator {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            color: $action-primary-color;
        }
    }
    img {
      position: absolute;
      left: 20px;
      
      width: 93px;
      height: 93px;
    }
    button {
        position: absolute;
        right: 0;

        width: 58px;
        height: 135px;
        background: $action-primary-bg;
        border-radius: 0px 8px 8px 0px;
        border: none;
        transition: 0.2s;
        
        color: $action-primary-color;

        &:hover {
            background: #67cfee;
        }
        .arrow-image {
            position: absolute;
            top: 35%;
            width: 22px;
            height: 46px;
        }
    }
}


