.container-icon {
    width: 308px;
    height: 135px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $brand-primary;
    border-radius: 8px;

    box-shadow: 3px 3px 5px;

    .indicator {
        position: absolute;
        left: 45%;

        font-family: $font-family-titles;
        color: $action-primary-color;
        font-size: 16px;

        .label-indicator {
            width: 100px;
            height: 2.6rem;
            float: left;

            font-weight: 100;
            font-size: 13px;
            //max-width: 100px;
        }

        .number-indicator {
            width: 100%;
            display: inline-block;

            font-size: 48px;
            font-weight: bold;
        }
    }

    img {
        position: absolute;
        left: 25px;

        width: 93px;
        height: 93px;
    }

   
        
        button {
            position: absolute;
            right: 0;
           

            width: 58px;
            height: 135px;
            background: $action-primary-bg;
            border-radius: 0px 8px 8px 0px;
            border: none;
            transition: 0.2s;

            color: $action-primary-color;

            &:hover {
                background: #67cfee;
            }
            .arrow-image {
                position: absolute;
                top: 35%;
                width: 22px;
                height: 46px;
            }
        }
    
}

@media screen and (max-width: 770px) {
    .container-icon {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-icon {
        margin: 0 auto;
        margin-top: 9vh;
    }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
    .container-icon {
        margin: 0 auto;
        margin-top: 9vh;
    }
}
