.content-list{
  border-radius: 2rem;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  padding-bottom: 2.2rem;
  background: $bg-color;
  h1 {
    padding: 2.5rem 2rem;
  }
}

.painel {
  .container{
    width: auto;
  }
}

.container{
  .title{
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 1.5rem;
  }
}

.container{
  div{
    span{
      height: 4.7rem;

       font-size: 12px;
      
      display: flex;
      align-items: center;
      justify-content: start;

      border-bottom: solid 1px #E0E0E0;
    }
  }
}