.sp-approval {  
  border-bottom: solid 1px #E5E5E5;
  padding-bottom: 1rem;
}

.pre-wrap {
  white-space:pre-wrap;
}

.col-sm-4 {
  padding-left: 0px;
}

.btn-success {
  cursor: default;
  &:hover{
    background: #5cb85c;
  }
}

.btn-danger {
  cursor: default;
  &:hover{
    background: #d9534f;
  } 
}
	    
@media screen and (max-width: 992px) {

  .btn-success {
    width: 15rem;
    margin: 1rem 0 0 1.4rem;
  }
  
  .btn-danger{
    width: 15rem;
    margin: 1rem 0 0 1.4rem;
  }
}