<div
    class="panel panel-{{options.color}} b"
    ng-if="::(data.articles.length > 0)"
>
    <div class="panel-body">
        <ul class="list-group" aria-labelledby="header-{{data.sysId}}">
            <li class="list-group-item" ng-repeat="a in ::data.articles">
                <div class="kb-content">
                    <div class="book-image">
                        <img src="circle-book.png" width="39" height="39" />
                    </div>

                    <div>
                        <div>
                            <a
                                href="?id=kb_article&sys_id={{::a.sys_id}}"
                                aria-label="{{::a.ratingAriaLabel}}"
                            >
                                {{::a.short_description.toUpperCase()}}
                            </a>
                        </div>

                        <span
                            uib-rating
                            sp-rating
                            ng-model="::a.rating"
                            max="5"
                            readonly="true"
                            aria-hidden="true"
                            state-on="'fa fa-star-o kb-star-on'"
                            state-off="'fa fa-star-o kb-star-off'"
                        />
                        <p>{{::a.views}} ${views}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
