.flow{
  padding: 24px 0;
}

.steps{
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.steps__item{
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  position:relative;
  width: 25%;

  p{
    margin-bottom: 0px;
    text-align: center;
  }
}

.icons{
  position:relative;
  text-align: center;
  border-radius: 26px;
  width: 36px;
  height: 36px;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 5px;
  color: white;
  font-size: 16px;
  display: block;
  z-index: 2;
  font-style: normal;
  border: 2px solid;
  border-color: $process-flow-color;
}

.icons::before{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
  display: none;
}

.steps__item::after{
  content: " ";
  position: absolute;
  top: 26%;
  width: 139%;
  left: 56%;
  height: 0.2rem;
  z-index: 0;
}

.pink_line{
  &::after{
    background-color: $process-flow-color;
  }
}

.grey_line{
  &::after{
    background-color: $process-flow-color;
  }
}
.steps__item:last-child{
  &::after{
    display: none;
  }
}

.nextStep{
  background:  $process-flow-desabled;

  span{
    z-index: 2;
    position: relative;
    display: none;
  }
}

.previousStep, .actualStep{
  background-color: $process-flow-color;
}


.active{
	font-weight: 600;
}

@media screen and (max-width: 992px) and (min-width: 768px){
  .steps__item::after{
    top: 20%;

  }
} 

@media screen and (max-width: 657px){
  .steps__item::after{
    top: 20%;
  }
} 

@media screen and (max-width: 455px){
  .steps__item p{
    font-size: 10px;
  }
} 











