.content{
 background: #FFF;
 color: #363636;
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
 border-radius: 1rem;
  h1{
  	font-size: 2.4rem;
  }
}

.status-text {
    padding: 9px 0;
    font-family: "Open Sans";
    font-size: 1.2rem;
}
.col-sm-6{
    h1{
        margin-top: 1rem;
    }
}

.icon{
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

